<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Inicio Work-Network 2.0</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/aos/aos.css" rel="stylesheet">
    <link href="~/lib/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/css/main.css" rel="stylesheet">

</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header d-flex align-items-center">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

            <a href="" class="logo d-flex align-items-center">
                <h1>Work<span>-</span>Network <span>2.0</span></h1>
            </a>

            <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
            <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a href="" class="active">Inicio</a></li>
                    @*   <li class="dropdown">
                    <a href="#"><span>Iniciar Sesión</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                    <ul>
                    <li><a data-bs-toggle="modal" style="cursor: pointer;" data-bs-target="#staticBackdrop">Como Empresa</a></li>
                    <li><a data-bs-toggle="modal" style="cursor: pointer;" data-bs-target="#staticBackdrop">Como Persona</a></li>
                    </ul>
                    </li>*@

                    <li><a href="#About">Nosotros</a></li>
                    <li><a href="#get-started">Registrarme</a></li>
                </ul>
            </nav>
            <!-- .navbar -->

        </div>
    </header>
    <!-- End Header -->
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="hero">

        <div class="info d-flex align-items-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2 data-aos="fade-down">Bienvenidos a <span>WorkNetwork 2.0</span></h2>
                        <p data-aos="fade-up">Somos la nueva forma de la búsqueda laboral. Si sos una empresa, podrás generar vacantes para conseguir tu empleado ideal. </p>
                        <p data-aos="fade-up">Si sos una persona y te encontrás en la búsqueda de un empleo. Sumate a Work-Network 2.0 y da el primer paso a tu empleo soñado.</p>

                        @*<a data-aos="fade-up" data-aos-delay="200" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="cursor:pointer;" class="btn-get-started">Iniciar Sesión</a>*@
                        <a data-aos="fade-up" data-aos-delay="200" href="#get-started" class="btn-get-started">Registrarme</a>
                    </div>
                </div>
            </div>
        </div>

        <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">

            <div class="carousel-item active" style="background: url(/img/carrusel-3.svg) center center / 800px 700px no-repeat"></div>
            <div class="carousel-item" style="background: url(/img/carrusel-5.png) center center / 1000px 700px no-repeat"></div>
            <div class="carousel-item" style="background: url(/img/carrusel-2.svg) center center / 800px 600px no-repeat"></div>
            <div class="carousel-item" style="background: url(/img/carrusel-4.png) center center / 1000px 700px no-repeat"></div>
            <div class="carousel-item" style="background: url(/img/carrusel-1.png) center center / 1000px 700px no-repeat"></div>

            <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
            </a>

            <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
            </a>

        </div>

    </section>
    <!-- End Hero Section -->
    
    <!-- ======= Get Started Section ======= -->
    <section id="About" class="get-started section-bg">
        <div class="container">

            <div class="row justify-content-between">

                <div class="justify-content-center d-flex align-items-center text-center" data-aos="fade-up">
                    <div class="content">
                        <h3>Estás mas cerca de formar parte de esta gran red!</h3>
                        <p>Si sos una empresa buscando postulantes y tenes vacantes para ofrecer selecciona la opción "Soy una empresa"</p>
                        <p>Si sos una persona buscando trabajo y queres formar parte de esta gran red selecciona la opción "Soy una persona"</p>
                        <p>👇 Si ya estás registrado simplemente haz click aquí abajo</p>
                        <a data-aos="fade-up" data-aos-delay="200" data-bs-toggle="modal" data-bs-target="#staticBackdrop" href="#get-started" class="btn-get-started">Iniciar Sesión</a>
                    </div>
                </div>
            </div>
        </div>
 @*   </section>
    <section id="get-started" class="get-started">*@
        <br />
        <div id="get-started"class="container" data-aos="fade">
            <form class="php-email-form">
                <h3>Registresé acá</h3>
                <p>Ingrese sus datos y comience a formar parte de Work-Network 2.0</p>
                <div class="row gy-3">

                    <div class="col-md-12">
                        <select class="form-select" id='rol' required aria-label='rol'>
                            <option value='' disabled selected>Soy...</option>
                            <option value="Empresa">Una empresa</option>
                            <option value="Usuario">Una persona</option>
                        </select>
                    </div>

                    <div class="col-md-12">
                        <input type="text" id='correo' autocomplete="off" name="name" class="form-control" placeholder="Correo Electrónico" required>
                    </div>

                    <div class="col-md-12 ">
                        <input type="password" id='pass' autocomplete="off" class="form-control" name="email" placeholder="Contraseña" required>
                    </div>

                    <div class="col-md-12">
                        <input type="password" id='passRepeat' class="form-control" name="phone" placeholder="Repita la contraseña" required>
                    </div>

                    <div class="col-md-12 text-center">
                        <div id="registerLoader" class="loading visually-hidden">Cargando</div>
                        <div id="registerError" class="error-message visually-hidden"></div>

                        <button type="submit" id="registerBtn" onclick='registerPerson()'>Registrarse</button>
                    </div>

                </div>
            </form>
        </div>
        <!-- End Quote Form -->

    </section>
    <!-- End Get Started Section -->
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Iniciar Sesión</h3>
                    <button type="button" class="btn-close" onclick="vaciarForm()" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="" method="post" class="email-form">
                        <div class="row gy-3">

                            <div class="col-md-12">
                                <input type="text" id='loginCorreo' autocomplete="off" name="name" class="form-control" placeholder="Correo Electrónico" required>
                            </div>

                            <div class="col-md-12 ">
                                <input type="password" id='loginPass' autocomplete="off" class="form-control" name="email" placeholder="Contraseña" required>
                            </div>

                            <div class="col-md-12 text-center">
                                <div id="loginLoader" class="loading visually-hidden">Cargando</div>
                                <div id="loginError" class="error-message visually-hidden">Usuario o contraseña incorrecta</div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="vaciarForm()" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-login" id="loginBtn" onclick="login()">Iniciar Sesión</button>
                </div>
            </div>
        </div>
    </div>


    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src='~/lib/bootstrap/dist/js/bootstrap.bundle.min.js'></script>
    <script src='~/lib/aos/aos.js'></script>
    <script src='~/js/main.js'></script>
    <script src='~/js/GestionDeUsuarios.js'></script>


</body>
</html>
