@model IEnumerable<WorkNetwork.Models.Pais>

@{
    ViewData["Title"] = "Pais";
}
<!-- ======= Primera parte de la pagina ======= -->
<div class="breadcrumbs d-flex align-items-center" style="background-image: url('/img/carrusel-1.png');">
    <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>Paises</h2>
        <ol>
            <li><a asp-area="" asp-controller="home" asp-action="index">Inicio</a></li>
            <li>Paises</li>
        </ol>

    </div>
</div><!-- Fin primera parte -->

<section>
<div class="container">
<button type="button" class='btn btn-login mb-3' onclick='AbrirModal(modalCrearPais)'>Agregar País</button>
<table class="table">
    <thead class="table-dark">
        <tr>
            <th class="col-lg-2">
                País
            </th>
           <th></th>
           @*<th>Opciones</th>*@
        </tr>
    </thead>
    <tbody id='tbody-paises'>
    </tbody>
</table>
</div>
</section>


<!-- Modal -->
<div class="modal fade" id="modalCrearPais" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titulo-modal-pais"></h5>
               <button type="button" onclick="VaciarFormulario()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="contact">
                    <div class="php-email-form">
                    <div class="alert alert-danger "id='alertPais'></div> 
                    <input type="hidden" id='idPais' />
                    <input placeholder="Ingrese un país" type="text" id="nombrePais" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick='VaciarFormulario()' data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-login" id='bottonEdit' onclick='GuardarPais()'>Agregar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src='~/js/Paises.js'></script>
    <script>
        window.onload = CompletarTablaPaises();
    </script>
}
