@model Persona

@{
    ViewData["Title"] = "Personas";
}

<!-- ======= Primera parte de la pagina ======= -->
<div class="breadcrumbs d-flex align-items-center" style="background-image: url('/img/carrusel-1.png');">
    <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>Ingrese sus datos</h2>
        
    </div>
</div>
<!-- Fin primera parte -->
@*//HACER VALIDACIONES JS
//DNI Y TELEFONO SOLO NUMEROS, EL RESTO SOLO LETRAS. DARLES LENGTH A C/U*@

<div class="contact">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <form id="frmFormulario" enctype="multipart/form-data">
            <div class="row gy-4 mt-1">
                <input type="hidden" id="IdPersona" value=0 />
                <div id="alertPersona"></div>
                @*DATOS PERSONALES*@
                <div class="col-lg-6">
                    <div class="php-email-form">
                        <h3 class="text-center">Datos de la Persona</h3>
                        <label>Ingrese su nombre completo</label><small style="color:red"> *</small>
                        <div class="inputsaling">

                            @*<label>Nombre</label>*@
                            <div class=" col-xs-6 form-group mt-1">
                                <input type="text" name="nombrePersona" class="form-control mb-1" id="nombrePersona" placeholder="Nombre/s" required>
                            </div>


                            <div class="col-xs-6 form group mt-1">
                                <input type="text" class="form-control mb-3" name="apellidoPersona" id="apellidoPersona" placeholder="Apellido/s" required>
                            </div>


                        </div>

                        <div class="form-group">
                            <label>Ingrese su Documento</label><small style="color:red"> *</small>
                            <input type="text" class="form-control" name="numeroDocumento" id="numeroDocumento" placeholder="Número de documento" required maxlength="8">
                        </div>

                        <div class="form-group">
                            <label>Fecha de nacimiento</label><small style="color:red"> *</small>
                            <input class="form-control" type="date" placeholder="Fecha de Nacimiento" id="fecNac" name='fechaNacimiento' />
                        </div>

                        <div class="form-group">
                            <label>Pais</label><small style="color:red"> *</small>
                            @Html.DropDownList("PaisID", null, htmlAttributes:new{@class = "form-select", @id = "paisID"})
                        </div>

                        <div class="form-group">
                            <label>Provincia</label><small style="color:red"> *</small>
                            @Html.DropDownList("ProvinciaID", null, htmlAttributes:new{@class = "form-select", @id = "provinciaID"})
                        </div>

                        <div class="form-group">
                            <label>Localidad</label><small style="color:red"> *</small>
                            @Html.DropDownList("LocalidadID", null, htmlAttributes:new{@class = "form-select", @id = "localidadID"})
                        </div>

                        <div class="row">
                            <div class=" form-group">
                                <label>Domicilio</label><small style="color:red"> *</small>
                                <input type="text" name="domicilio" class="form-control" id="domicilio" placeholder="Domicilio" required>
                            </div>
                            @*  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 form-group">
                            <input type="number" class="form-control" name="nro" id="nro" placeholder="Nro" required>
                            </div>*@
                        </div>

                        <div class="form-group">
                            <label>Teléfono</label><small style="color:red"> *</small>
                            <input type="text" class="form-control" name="telefono1Persona" id="telefono1Persona" placeholder="Teléfono" required>
                        </div>
                    </div>
                </div>
                <!-- Fin primer card-->

                @*DATOS PARA EL PERFIL*@
                <div class="col-lg-6">
                    <div class="php-email-form">
                        <h3 class="text-center">Datos para el perfil</h3>
                        <div>
                            <label>Redes Sociales</label>
                            <div class="input-group mb-3">
                                <input type="text" name="instagram" placeholder="Ej.: www.instagram.com/SuUsuario" class="form-control" id="instagram" />
                            </div>
                            <div class="form-group">
                                <input type="text" name="twitter" placeholder="Ej.: www.twitter.com/SuUsuario" class="form-control" id="twitter" />
                            </div>
                            <div class="form-group">
                                <input type="text" name="linkedin" placeholder="Ej.: www.linkedin.com/SuUsuario" class="form-control" id="linkedin" />
                            </div>
                        </div>

                        <div class="form-group">
                            <select id="generoID" class="form-select" name="generoID">
                                <option selected disabled>Seleccione un género...</option>
                                <option value=0>Masculino</option>
                                <option value=1>Femenino</option>
                                <option value=2>No Especifica</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Curriculum</label><small style="color:red"> *</small>
                            <input type="file" name="curriculPersona" accept="application/pdf" placeholder="Curriculum" class="form-control" id="curriculPersona" required accept=".pdf" />
                        </div>
                        <div class="form-group">
                            <label>Foto de perfil</label><small style="color:red"> *</small>
                            <input type="file" name="personaFoto" placeholder="Foto de perfil" class="form-control" id="personaFoto" required accept="image/*" />
                        </div>


                        <div class="my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center"><button onclick="guardarPersona()" type="submit">Registrarse</button></div>
                    </div>
                    <label style="font-size:smaller">Los campos con <span style="color:red"> * </span> son obligatorios</label>
                </div>
                <!-- Fin segunda card-->
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/js/Personas.js"></script>
}
