@model IEnumerable<WorkNetwork.Models.Localidad>

@{
    ViewData["Title"] = "Localidad";
}


<!-- ======= Primera parte de la pagina ======= -->
<div class="breadcrumbs d-flex align-items-center" style="background-image: url('/img/carrusel-1.png');"></div>
<!-- Fin primera parte -->

<section>
    <div class="container position-relative d-flex flex-column align-items-center mt-2"><h2>Localidades</h2></div>
    <div class="container">
        <button type="button" class='btn btn-login mb-3' onclick='AbrirModal(modalCrearLocalidad)'>Agregar Localidad</button>

        <table class='table'>
            <thead class="table-dark">
                <tr>
                    <th>
                        Localidad
                    </th>
                    <th>
                        Provincia
                    </th>
                    <th>
                        Código Postal
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody id='tbody-localidad'></tbody>
        </table>

    </div>
</section>

<!--Modal-->
<div class="modal fade modal-top" id="modalCrearLocalidad" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Titulo-Modal-Localidad">Agregar localidad</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" onclick='VaciarFormulario()' aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="contact">
                    <div class="php-email-form">
                        <div class="alert alert-danger " id='alertLocalidad'></div>
                        <div>
                            <label>Ingresar Localidad</label>
                            <input type="hidden" id='localidadID' value="0" />
                            <input placeholder="Ingrese una localidad" type="text" id="NombreLocalidad" class="form-control mb-2" />
                            <label>Ingrese el Código Postal</label>
                            <input placeholder="Código Postal" type="text" id="CPLocalidad" class='form-control mb-2' maxlength="4" />
                        </div>

                        <div>
                            <label>País:</label>
                            @Html.DropDownList("PaisID", null, htmlAttributes: new {@class = "form-control mb-2", @id = "idPais"})
                        </div>

                        <div>
                            <label>Provincia:</label>
                            @Html.DropDownList("ProvinciaID", null, htmlAttributes: new {@class = "form-control mb-2", @id = "idProvincia"})
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-custom" onclick='VaciarFormulario()' data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-login btn-custom" id="bottonEdit" onclick='GuardarLocalidad()'>Agregar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src='~/js/Localidades.js'></script>
    <script>
        window.onload = CompletarTablaLocalidades();
    </script>
}
