@model IEnumerable<WorkNetwork.Models.Empresa>

@{
    ViewData["Title"] = "Nueva Empresa";
}


<!-- ======= Primera parte de la pagina ======= -->
<div class="breadcrumbs d-flex align-items-center" style="background-image: url('/img/carrusel-1.png');">
    <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>Ingresa los datos de la Empresa</h2>
        
    </div>
</div><!-- Fin primera parte -->

@*
 //NO PERMITIR QUE SE PUEDAN IR A OTRAS PESTAÑAS SI ESTA EL MODAL DE REGISTRO ABIERTO
*@
<div class="contact">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <form id="registrarEmpresa" enctype="multipart/form-data">
            <div class="row gy-4 mt-1">
                <input type="hidden" id="IDempresa" value=0 />
                <div id="alertEmpresa"></div>
                @*DATOS PERSONALES*@
                <div class="col-lg-6">
                    <div class="php-email-form">
                        <h3 class="text-center">Datos de la Empresa</h3>
                        <div class="row">
                            <div class="col-lg-6 form-group">
                                <label>Nombre de la Empresa</label><small style="color:red"> *</small>
                                <input type="text" name="razonSocial" class="form-control" id="RazonSocial" placeholder="Nombre de la Empresa">
                            </div>
                            <div class="col-lg-6 form-group">
                                <label>CUIT</label><small style="color:red"> *</small>
                                <input type="text" class="form-control" name="cuitEmpresa" id="cuitEmpresa" placeholder="XX-XXXXXXXX-X" onkeyup="formatCuit(this,event)">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Telefono</label><small style="color:red"> *</small>
                            <input type="text" class="form-control" name="telefono1Empresa" id="telefono1Empresa" placeholder="Telefono de la Empresa">
                        </div>
                        <div class="form-group">
                            <label>Describa la actividad de su empresa</label><small style="color:red"> *</small>
                            <textarea class="form-control" id="descripcion" name="descripcion" rows="5" placeholder="Descripcion de la actividad de empresa"></textarea>
                        </div>
                        <div>
                            <label>Redes Sociales</label>
                            <div class="form-group">
                                <input type="text" name="instagram" placeholder="Instagram" class="form-control" id="instagram" />
                            </div>
                            <div class="form-group">
                                <input type="text" name="twitter" placeholder="Twitter" class="form-control" id="twitter" />
                            </div>
                            <div class="form-group">
                                <input type="text" name="linkedin" placeholder="Linkedin" class="form-control" id="linkedin" />
                            </div>
                        </div>

                    </div>
                </div>
                <!-- Fin primer card-->

                @*DATOS PARA EL PERFIL*@
                <div class="col-lg-6">
                    <div class="php-email-form">
                        <h3 class="text-center">Datos para el perfil</h3>

                        <div class="form-group">
                            <label>Pais</label><small style="color:red"> *</small>
                            @Html.DropDownList("PaisID", null, htmlAttributes:new{@class = "form-select", @id = "paisID"})
                        </div>

                        <div class="form-group">
                            <label>Provincia</label><small style="color:red"> *</small>
                            @Html.DropDownList("ProvinciaID", null, htmlAttributes:new{@class = "form-select", @id = "provinciaID"})
                        </div>

                        <div class="form-group">
                            <label>Localidad</label><small style="color:red"> *</small>
                            @Html.DropDownList("LocalidadID", null, htmlAttributes:new{@class = "form-select", @id = "localidadID"})
                        </div>

                        <div class="row">
                            <label>Ingrese su domicilio</label><small style="color:red"> *</small>
                            <div class=" col-xs-9 col-8 form-group">                                
                                <input type="text" name="domicilio" class="form-control" id="domicilio" placeholder="Domicilio">
                            </div>
                            <div class="col-xs-3 col-4 form-group">
                                <input type="text" class="form-control" name="nro" id="nro" placeholder="Nro">
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Seleccione el Rubro al que se dedica</label><small style="color:red"> *</small>
                            @Html.DropDownList("RubroID", null, htmlAttributes:new{@class = "form-select", @id = "rubroID"})
                        </div>

                        <div class="form-group">
                            <label>Foto de perfil</label>
                            <input type="file" name="empresaFoto" placeholder="Foto de perfil" class="form-control" id="fotoPerfilEmpresa" />
                        </div>


                        <div class="my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center"><button onclick="guardarEmpresa()" type="submit">Registrarse</button></div>
                        <label style="font-size:smaller">Los campos con <span style="color:red"> * </span> son obligatorios</label>
                    </div>
                </div>
                <!-- Fin segunda card-->
            </div>
        </form>
    </div>
</div>
@section Scripts {
<script src="~/js/Empresas.js"></script>
}