@model IEnumerable<WorkNetwork.Models.Vacante>

@{
    ViewData["Title"] = "Vacantes";
}

<!-- ======= Primera parte de la pagina ======= -->
<div class="breadcrumbs d-flex align-items-center" style="background-image: url('/img/carrusel-1.png');"></div>
<!-- Fin primera parte -->

<section>
    <div class="container position-relative d-flex flex-column align-items-center mt-1"><h2>Vacantes</h2></div>
    <div class="container">
        <div class="btn-cont">
            <button type="button" class='btn btn-login mb-2' onclick='AbrirModal(modalCrearVacante)'>Crear Vacante</button>
        </div>
        <div class="text-cont">
            <small>En <span style="color:red">rojo</span> las vacantes finalizadas</small>
        </div>
        

        <table class='table' style="margin-bottom: 10rem;">
            <thead class="table-dark">
                <tr>
                    <th class="ocultarCol767">
                        Cargado el
                    </th>
                    <th>
                        Finaliza el
                    </th>
                    <th>
                        Vacante
                    </th>
                    <th class="ocultarCol767">
                        Idioma
                    </th>
                    <th>
                        Experiencia
                    </th>
                    <th class="text-center">
                        Botones
                    </th>
                </tr>
            </thead>
            <tbody id='tbody-vacante'></tbody>
        </table>
    </div>
</section>

<!-- modal -->
<div class="modal fade" id="modalCrearVacante" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-lg modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titulo-modal-vacante">Crear Vacante</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick='VaciarFormulario()'></button>
            </div>
            <div class="modal-body">
                <div class="contact">
                    <label style="font-size:smaller">Los campos con <span style="color:red"> * </span> son obligatorios</label>
                    <form class="php-email-form" id='nuevaVacante'>
                        <div class="row">
                            <input type="hidden" id='idVacante' name='vacanteID' value=0 />
                            <div class="alert alert-danger" id="alertVacante"></div>
                            <div class="col-lg-6">
                                <div class="php-email-form">
                                    <div>
                                        <label>Titulo de la vacante</label><small style="color:red"> *</small>
                                        <input placeholder="Ingrese un título" type="text" id="tituloVacante" name='tituloVacante' class="form-control mb-3" required />

                                    </div>

                                    <div>
                                        <label>Describa el puesto</label><small style="color:red"> *</small>
                                        @*<input placeholder="Ingrese una descripción" type="text" name="descripcionVacante" id="descripcionVacante" class="form-control mb-3" required />*@
                                        <textarea class="form-control mb-3" id="descripcionVacante" name="descripcionVacante" rows="2" placeholder="Ingrese una descripción"></textarea>
                                    </div>

                                    <div>
                                        <label>Experiencia requerida</label><small style="color:red"> *</small>
                                        <input placeholder="Experiencia requerida en años" type="number" id="expRequeridaVacante" name='experienciaRequerida' class='form-control mb-3' required />

                                    </div>

                                    <div>
                                        <label class="control-label">Pais:</label><small style="color:red"> *</small>
                                        @Html.DropDownList("PaisID", null, htmlAttributes:new{@class = "form-select mb-3"})
                                    </div>
                                    <div>
                                        <label class="control-label">Provincia:</label><small style="color:red"> *</small>
                                        @Html.DropDownList("ProvinciaID", null, htmlAttributes: new {@class = "form-select mb-3"})
                                    </div>
                                    <div>
                                        <label class="control-label">Localidad:</label><small style="color:red"> *</small>
                                        @Html.DropDownList("LocalidadID", null, htmlAttributes: new {@class = "form-select mb-3"})
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="php-email-form">
                                    <div>
                                        <label class='control-label'>Rubro</label><small style="color:red"> *</small>
                                        @Html.DropDownList("RubroID", null, htmlAttributes:new {@class = "form-select mb-3"})
                                    </div>

                                    <div>
                                        <label class="control-label">Fecha de finalización:</label><small style="color:red"> *</small>
                                        <input type="date" class="form-control mb-3" name='fechaFinalizacion' id="fechaFinalizacionVacante">

                                    </div>

                                    <div>
                                        <label class="control-label">Idioma requerido</label>
                                        <input placeholder='Dejar en blanco si el puesto no requiere idiomas' type='text' name='idiomaVacante' id="idiomaVacante" class='form-control mb-3' />

                                    </div>

                                    <div>
                                        <label class="control-label">Disponibilidad horaria: </label><small style="color:red"> *</small>
                                        <select id='disponibilidadHoraria' name='disponibilidadHoraria' class="form-control mb-3">
                                            <option selected disabled>Seleccione la disponibilidad</option>
                                            <option value=0>Fulltime</option>
                                            <option value=1>Partime</option>
                                        </select>

                                    </div>

                                    <div>
                                        <label class="control-label">Modalidad: </label><small style="color:red"> *</small>
                                        <select id='modalidadVacante' name='modalidadVacante' class="form-control mb-3">
                                            <option selected disabled>Seleccione la modalidad</option>
                                            <option value=0>Presencial</option>
                                            <option value=1>Semi-presencial</option>
                                            <option value=2>Remoto</option>
                                        </select>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick='VaciarFormulario()' data-bs-dismiss="modal">Cerrar</button>
                <button class="btn btn-login" id="btn-edit" onclick='GuardarVacante()'>Crear</button>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/js/Vacantes.js"></script>
    <script>
        window.onload = CompletarTablaVacantes();
    </script>
}

