@model IEnumerable<WorkNetwork.Models.Vacante>

@{
    ViewData["Title"] = "Vacantes";
}

<!-- ======= Primera parte de la pagina ======= -->
<div class="breadcrumbs d-flex align-items-center" style="background-image: url('/img/carrusel-1.png');">
    <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        @*<h2>Vacantes</h2>*@
        @*<ol>
        <li><a asp-area="" asp-controller="home" asp-action="index">Inicio</a></li>
        <li>Vacantes</li>
        </ol>*@

    </div>
</div><!-- Fin primera parte -->

<section>
        <div class="container position-relative d-flex flex-column align-items-center mt-1"><h2>Vacantes</h2></div>
    <div class="container">

        <button type="button" class='btn btn-login mb-3' onclick='AbrirModal(modalCrearVacante)'>Crear Vacante</button>

        <table class='table'>
            <thead class="table-dark">
                <tr>
                    <th>
                        Vacante
                    </th>
                    <th>
                        Idioma
                    </th>
                    <th>
                        Experiencia
                    </th>
                    <th class="text-center">
                        Botones
                    </th>
                </tr>
            </thead>
            <tbody id='tbody-vacante'></tbody>
        </table>
    </div>
</section>
<!-- modal -->
<div class="modal fade" id="modalCrearVacante" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-lg modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titulo-modal-vacante">Crear Vacante</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick='VaciarFormulario()'></button>
            </div>
            <div class="modal-body">
                <div class="contact">

                    <form class="php-email-form" id='nuevaVacante'>
                        @*<div class="alert alert-danger "id='alertRubro'>El campo descripcion no puede estar vacio</div> *@
                        <input type="hidden" id='idVacante' name='vacanteID' value=0 />
                        <div class="alert alert-danger" id="alertVacante"></div>
                        <div>
                            <label>Titulo de la vacante</label>
                            <input placeholder="Ingrese un título" type="text" id="tituloVacante" name='tituloVacante' class="form-control mb-3" required />
                            
                        </div>

                        @*<div class="alert alert-danger" id="Error-DescripcionVacante"></div>*@
                        <div>
                            <label>Describa el puesto</label>
                            <input placeholder="Ingrese una descripción" type="text" name="descripcionVacante" id="descripcionVacante" class="form-control mb-3" required />
                        </div>

                        <div>
                            <label>Experiencia requerida para el puesto</label>
                            <input placeholder="Experiencia requerida en años" type="number" id="expRequeridaVacante" name='experienciaRequerida' class='form-control mb-3' required />
                            <p id="Error-Exp"></p>
                        </div>

                        <div class="form-group">
                            <label class="control-label"><b> Pais: </b></label>
                            @Html.DropDownList("PaisID", null, htmlAttributes:new{@class = "form-select mb-3"})
                        </div>
                        <div>
                            <label class="control-label"><b> Provincia: </b></label>
                            @Html.DropDownList("ProvinciaID", null, htmlAttributes: new {@class = "form-select mb-3"})
                        </div>
                        <div>
                            <label class="control-label"><b> Localidad: </b></label>
                            @Html.DropDownList("LocalidadID", null, htmlAttributes: new {@class = "form-select mb-3"})
                        </div>
                        <div class="form-group">
                            <label class='control-label'><b>Rubro</b></label>
                            @Html.DropDownList("RubroID", null, htmlAttributes:new {@class = "form-select mb-3"})
                        </div>

                        <div>
                            <label class="control-label"><b> Fecha de finalización: </b></label>
                            <input type="date" class="form-control mb-3" name='fechaFinalizacion' id="fechaFinalizacionVacante">
                            <p id="Error-FechaFin"></p>
                        </div>

                        <div>
                            <label class="control-label"><b>Idioma requerido</b></label>
                            <input placeholder='Ingrese que idioma es requerido' type='text' name='idiomaVacante' id="idiomaVacante" class='form-control mb-3' />
                            <p id="Error-Idioma"></p>
                        </div>

                        <div>
                            <label class="control-label"><b> Disponibilidad horaria: </b></label>
                            <select id='disponibilidadHoraria' name='disponibilidadHoraria' class="form-control mb-3">
                                <option selected disabled>Seleccione la disponibilidad</option>
                                <option value=0>Fulltime</option>
                                <option value=1>Partime</option>
                            </select>
                            <p id="Error-Hora"></p>
                        </div>

                        <div>
                            <label class="control-label"><b>Modalidad: </b></label>
                            <select id='modalidadVacante' name='modalidadVacante' class="form-control mb-3">
                                <option selected>Seleccione la modalidad</option>
                                <option value=0>Presencial</option>
                                <option value=1>Semi-presencial</option>
                                <option value=2>Remoto</option>
                            </select>
                            <p id="Error-Modalidad"></p>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick='VaciarFormulario()' data-bs-dismiss="modal">Cerrar</button>
                <button class="btn btn-login" onclick='GuardarVacante()'>Crear</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/Vacantes.js"></script>
    <script>
        window.onload = CompletarTablaVacantes();
    </script>
}

