@model IEnumerable<WorkNetwork.Models.Rubro>

@{
    ViewData["Title"] = "Rubro";
}
<!-- ======= Primera parte de la pagina ======= -->
<div class="breadcrumbs d-flex align-items-center" style="background-image: url('/img/carrusel-1.png');">
    <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

       @* <h2>Rubros</h2>*@
       @* <ol>
            <li><a asp-area="" asp-controller="home" asp-action="index">Inicio</a></li>
            <li>Rubros</li>
        </ol>*@

    </div>
</div><!-- Fin primera parte -->

<section>
    <div class="container position-relative d-flex flex-column align-items-center mt-1"><h2>Rubros</h2></div>
    <div class="container">
        <button type="button" class="btn btn-login mb-3" onclick="AbrirModal(modalCrearRubro)">Agregar Rubro</button>

        <table class="table ">
            <thead class="table-dark">
                <tr>
                    <th>
                        Rubro
                    </th>
                    <th></th>
                    @*<th>Opciones</th>*@
                </tr>
            </thead>
            <tbody id="tbody-rubros">
            </tbody>
        </table>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" style="top: 100px" id="modalCrearRubro" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-l">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titulo-modal-rubro"></h5>
                <button onclick="VaciarFormulario()" type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="contact">
                    <div class="php-email-form">
                        <label>Rubro</label>
                        <div class="alert alert-danger " id='alertRubro'>La descripción no puede estar vacia</div>
                        <input type="hidden" id='idRubro' />
                        <input placeholder="Ingrese un rubro" type="text" id="nombreRubro" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick='VaciarFormulario()'
                    data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-login" id="bottonEdit" onclick='GuardarRubro()'>Agregar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
<script src='~/js/Rubros.js'></script>
<script>
    window.onload = CompletarTablaRubro()
</script>
}
