@{
    ViewData["Title"] = "Inicio";
}

<!-- ======= Primera parte de la pagina ======= -->
<div class="breadcrumbs d-flex align-items-center" style="background-image: url('/img/carrusel-5.png');"></div><!-- Fin primera parte -->
<!-- ======= Blog Section ======= -->
<section id="blog" class="blog">
    <div class="container position-relative d-flex flex-column align-items-center mt-1 mb-5"><h2>Bienvenido! @ViewBag.Nombre</h2></div>

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div id="cardVacantes" class="row gy-4 posts-list">
        </div>
    </div>
</section><!-- End Blog Section -->

<section class="notscroll">
    @if (User.IsInRole("Empresa"))
    {
        <div class="row">
            <div class="m-5 mt-5 col-lg-4">
                <h3>¿Que puedes hacer con este aplicativo?</h3>

                <ul>
                    <li>Podrás cargar,editar y finalizar o reactivar vacantes para que los posibles candidatos puedan acceder a las oportunidades</li>
                    <li>Podrás gestionar las vacantes y así ver que usuarios que se postularon a las mismas</li>
                    <li>Podrás ver los perfiles de los candidatos y comunicarte con ellos </li>
                    <li>Podrás ver sus Curriculum y redes sociales </li>
                    <li>Podrás editar tu perfil para mantenerlo actualizado</li>
                </ul>
            </div>
            <div class="col-lg-4 order-lg-last">
                <img src="/img/carrusel-2.svg" class="fix-img-empresa">

            </div>

        </div>
    }
    else if (User.IsInRole("Usuario"))
    {
        <div id="NoVacantes" class="text-center mt-5 d-none">
            <p style="font-style: italic; color: #555; font-size: 1.5rem;">No hay vacantes disponibles actualmente. . .</p>
        </div>

    }
    else if (User.IsInRole("SuperUsuario"))
    {
        <div class="row">

            <div class="m-5 mt-5 col-lg-4">
                <h4>¿Que puedes hacer con este aplicativo?</h4>
                <br>
                <ul>
                    <li style="font-size: large">
                        Podrás cargar y editar <a asp-area="" asp-controller="paises" asp-action="index">Paises</a>,
                        <a asp-area="" asp-controller="provincias" asp-action="index">Provincias</a> y
                        sus respectivas <a asp-area="" asp-controller="localidades" asp-action="index">Localidades.</a>

                        <br>
                        <br>
                    </li>

                    <li style="font-size:large">
                        Además podrás cargar los distintos <a asp-area="" asp-controller="rubros" asp-action="index">Rubros</a>
                        para que las empresas puedan utilizar para sus vacantes
                        <br>
                        <br>
                        <br>
                    </li>
                </ul>

            </div>
            <div class="col-lg-5 order-lg-last">
                <img src="/img/carrusel-1.png" class="w-100">
            </div>
        </div>
    }
</section>
@section Scripts{
    <script src="~/js/Vacantes.js"></script>
    <script>
        window.onload = MostrarVacantes();
    </script>
}
