@model IEnumerable<WorkNetwork.Models.Provincia>

@{
    ViewData["Title"] = "Provincia";
}
<!-- ======= Primera parte de la pagina ======= -->
<div class="breadcrumbs d-flex align-items-center" style="background-image: url('/img/carrusel-1.png');"></div>
<!-- Fin primera parte -->

<section>
<div class="container position-relative d-flex flex-column align-items-center mt-1"><h2>Provincias</h2></div>
    <div class="container">
        <button type="button" class='btn btn-login mb-3' onclick='AbrirModal(modalCrearProvincia)'>Agregar Provincia</button>

        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>
                        Provincia
                    </th>
                   
                    <th>País</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id='tbody-provincias'></tbody>
        </table>
    </div>
</section>



<!-- Modal -->
<div class="modal fade modal-top" id="modalCrearProvincia" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Titulo-Modal-Provincia">Agregar provincia</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" onclick="VaciarFormulario()"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="contact">
                    <div class="php-email-form">
                        <div>
                            <label>Provincia</label>
                            <div class="alert alert-danger " id='alertProvincia'></div>
                            <input type="hidden" id='idProvincia' />
                            <input placeholder="Ingrese la Provincia" type="text" id="nombreProvincia"
                                   class="form-control" />
                        </div>
                        <div>
                            <label>Pais</label>
                            @Html.DropDownList("PaisID", null, htmlAttributes: new {@class = "form-control", @id = "idPais"})
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-custom" onclick='VaciarFormulario()'data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-login btn-custom" id="bottonEdit" onclick='GuardarProvincia()'>Agregar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<script src='~/js/Provincias.js'></script>
<script>
    window.onload = CompletarTablaProvincias();
</script>
}
